@media screen and (max-width: 959px) {
    html {
        background: #66dfff;
    }

    #wrapper {
        width: 100%;
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }

    .desktop {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    html {
        background: #ff363d;
    }

    #wrapper {
        width: 100%;
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }

    .desktop {
        display: block;
    }
}